<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="firebasex-image-push-onesignal"
    version="3.3.3">

  <name>OneSignal Push Notifications</name>
  <author>Josh Kasten, Bradley Hesse, Rodrigo Gomez-Palacio</author>

  <description>
    OneSignal is a high volume Push Notification service for mobile apps.
  </description>

  <keywords>
    push,notification,apns,gcm,ios,android
  </keywords>

  <license>MIT</license>

  <!-- JS -->
  <js-module src="dist/index.js" name="OneSignalPlugin">
    <clobbers target="OneSignal" />
  </js-module>

  <js-module src="dist/NotificationReceivedEvent.js" name="NotificationReceivedEvent" />
  <js-module src="dist/Subscription.js" name="Subscription" />
  <js-module src="dist/OSNotification.js" name="OSNotification" />

  <!-- Engines -->
  <engines>
    <engine name="cordova" version=">=6.4.0" />
    <engine name="cordova-ios" version=">=4.3.0" />
    <engine name="cordova-android" version=">=5.1.0" />
    <engine name="apple-xcode" version=">=8.0.0" />
    <engine name="apple-ios" version=">=7.0.0" />
  </engines>

  <!-- ANDROID -->
  <platform name="android">

    <framework src="com.onesignal:OneSignal:4.8.10" />
    <framework src="build-extras-onesignal.gradle" custom="true" type="gradleReference" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="OneSignalPush">
        <param name="android-package" value="com.onesignal.cordova.OneSignalPush" />
      </feature>
    </config-file>

    <source-file src="src/android/com/onesignal/cordova/OneSignalPush.java" target-dir="src/com/onesignal/cordova/" />
    <source-file src="src/android/com/onesignal/cordova/OneSignalController.java" target-dir="src/com/onesignal/cordova/" />
    <source-file src="src/android/com/onesignal/cordova/OneSignalEmailController.java" target-dir="src/com/onesignal/cordova/" />
    <source-file src="src/android/com/onesignal/cordova/OneSignalSMSController.java" target-dir="src/com/onesignal/cordova/" />
    <source-file src="src/android/com/onesignal/cordova/OneSignalObserverController.java" target-dir="src/com/onesignal/cordova/" />
    <source-file src="src/android/com/onesignal/cordova/OneSignalOutcomeController.java" target-dir="src/com/onesignal/cordova/" />
    <source-file src="src/android/com/onesignal/cordova/OneSignalInAppMessagingController.java" target-dir="src/com/onesignal/cordova/" />
    <source-file src="src/android/com/onesignal/cordova/CallbackHelper.java" target-dir="src/com/onesignal/cordova/" />

  </platform>

  <!-- IOS -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="OneSignalPush">
        <param name="ios-package" value="OneSignalPush"/>
      </feature>
    </config-file>

    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>remote-notification</string>
      </array>
    </config-file>

    <config-file target="*-Debug.plist" parent="aps-environment">
      <string>development</string>
    </config-file>

    <config-file target="*-Release.plist" parent="aps-environment">
      <string>production</string>
    </config-file>

    <!-- OneSignal iOS SDK -->
    <podspec>
      <config>
        <source url="https://cdn.cocoapods.org"/>
      </config>
      <pods use-frameworks="true">
        <pod name="OneSignalXCFramework" spec="3.12.10" />
      </pods>
    </podspec>

    <!-- Main app bridge -->
    <header-file src="src/ios/OneSignalPush.h" />
    <source-file src="src/ios/OneSignalPush.m" />

    <!-- 🔥 NOTIFICATION SERVICE EXTENSION -->
    <ios-extension
        name="OneSignalNotificationServiceExtension"
        type="app-extension">

        <config-file target="OneSignalNotificationServiceExtension/Info.plist" parent="NSExtension">
            <dict>
                <key>NSExtensionPointIdentifier</key>
                <string>com.apple.usernotifications.service</string>
                <key>NSExtensionPrincipalClass</key>
                <string>NotificationService</string>
            </dict>
        </config-file>

        <resource-file
            src="src/ios/OneSignalNotificationServiceExtension/NotificationService.swift"
            target="OneSignalNotificationServiceExtension/NotificationService.swift" />

        <resource-file
            src="src/ios/OneSignalNotificationServiceExtension/Info.plist"
            target="OneSignalNotificationServiceExtension/Info.plist" />

        <resource-file
            src="src/ios/OneSignalNotificationServiceExtension/OneSignalNotificationServiceExtension.entitlements"
            target="OneSignalNotificationServiceExtension/OneSignalNotificationServiceExtension.entitlements" />

    </ios-extension>

  </platform>

</plugin>
